/* utility classes */

.background-blue {
    background: rgba(98, 146, 186, 0.8) !important;
}

.text-blue {
    color: rgba(98, 146, 186, 0.8) !important;
}

.text-purple {
    color: #393c73;
}

.background-purple {
    color: #393c73;
}

.text-white {
    color: white;
}

.background-white {
    background: white;
}

.upperCase {
    text-transform: uppercase;
}

.unAnswered {
    background-color: darkred;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.active {
    color: blue;
}


/* page styles */
.page {
    margin: 20px;
}

#footerContents {
    text-align: center;
    margin: auto;
    padding-top: 4px;
    max-width: 500px;
}

#footerContents .fa {
    font-size: 21px;
    color: white;
}

#footerContents .fa:active {
    color: rgba(100, 148, 188, 1);
}

body {
    background: #00002D;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif !important;
    height: auto;
}

.inline.md-button {
    padding: 0 6px;
    margin: -12px 8px;
    padding: 0 6px;
    margin: 6px 0;
    line-height: 36px;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    min-width: 78px;
}

.content {
    /* background: linear-gradient(129.57deg, #00002D 10.46%, #383B72 92.96%); */
    background: none;
    margin: auto;
    max-width: 500px;
    padding: 30px;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}

.list-inline {
    margin: 0;
}

@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


input.form-control, .form-control:focus{
    color: white !important;
    border: 1px solid white !important;

}

*:focus {
    outline: none;
    border: none;
}

.app {
    padding: 0;
}

.home_content {
    background-image: url('../images/home_bkg_large.png');
    background-repeat: no-repeat;
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    background-attachment: fixed;
    margin: auto;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-size: cover;
}

a {
    color: rgba(98, 146, 186, 0.8) !important;
    text-decoration: underline;
}

a:hover {
    color: white !important;
    text-decoration: underline;
    cursor: pointer;
}

.ng-scope{
    /* background: linear-gradient(129.57deg, #00002D 10.46%, #383B72 92.96%); */

}

.roundCard{
    border: 0.5px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.roundCard:hover {
    cursor: pointer;
    background: rgba(98, 146, 186, 0.6);
}

.roundCard:active {
    cursor: pointer;
    background: rgba(98, 146, 186, 0.9);
}

.roundCard .roundCardImage {
    padding: 10px;
}

.roundCardTitle {
    font-size: 24px;
    font-weight: bold;
}

span.roundCardNavArrow {
    margin-top: 9px;
    margin-right: 2px;
}

/* Header */
.mainHeader {
    border-bottom: 1px solid white;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
}



/* Home Page */

#buttonBox{
    background: linear-gradient(129.57deg, #00002D 10.46%, #383B72 92.96%);
    height: 140px;
    position:absolute;
    bottom:0;
    width:100%;
    padding: 20px;
}

#buttonBox button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

#loginAbout{
    float: right;
    font-size: 20px;
    position: relative;
    bottom: 35px;
    right: -13px;
    color:white;
}

/* Login Page */
#loginPage{

}

#loginContents{
  
}


/* Topics List */
.topicTitle {
    font-weight: bold;
    background: blue;
}

ul.topicsList li {
    padding: 7px;
}


/* Global Quiz Pages */
.count{

}

.learnMorePanel {
    margin-top: 100px;
}

.answer_area .btn-group {
    margin-top: 20px;
}

.answer_area .btn-group label {
    margin-right: 10px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 4px;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.answer_area .btn-primary {
    background: none;
    border: 1px solid white;
}

.answer_area .btn-primary:hover {
    background: rgba(100, 148, 188, 0.5);
    border: 1px solid white;
}

.answer_area .btn-primary.active {
    background: rgba(100, 148, 188, 1);
    border: 1px solid white;
}

.btn-clear {
    background: none;
    border: 1px solid white;
}

.btn-clear:hover {
    background: rgba(100, 148, 188, 0.5);
    border: 1px solid white;
    color: white
}

.btn-clear.active {
    background: rgba(100, 148, 188, 1);
    border: 1px solid white;
    color: white;
}


/* Confirmation Area */

.submit_area {
    text-align: center;
    margin-top: 40px;
    width: 80%;
    margin: auto;
}

.confirmAnswer {
    display: inline-block;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 0px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

a.btn.btn-link.takeMeToQuestionLink {
    padding-left: 0;
}

btn.btn-link:hover{
    color: white;
}


/* Results */

#results h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 917px) {
    /* .home_nav_items {
        width: 365px;
        right: -50%;
        top: 37%;
        bottom: 15%;
        vertical-align: middle;
    } */
}


/* loading screen */

.savingContent {
    width: 100%;
    position: fixed;
    height: 500px;
    /*    line-height: 500px;*/
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, .2);
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 192px;
}

.savingContent h1 {
    vertical-align: middle;
}


/* fancy loader */

.spinner {
    background: rgba(98, 146, 186, 0.1);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    left: 0;
    bottom: 0;
    right: 0;
}

.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    animation: animate-to-5 1.5s infinite;
}

@keyframes animate-to-2 {
    25%,
    75% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-3 {
    25%,
    75% {
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-1 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%,
    75% {
        transform: translateX(-4.5rem) scale(0.6);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-4 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }
    50%,
    75% {
        transform: translateX(4.5rem) scale(0.6);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-0 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        transform: translateX(-4.5rem) scale(0.6);
    }
    75% {
        transform: translateX(-7.5rem) scale(0.5);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

@keyframes animate-to-5 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        transform: translateX(4.5rem) scale(0.6);
    }
    75% {
        transform: translateX(7.5rem) scale(0.5);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}