<div id="content" class="content">

        <div class="section_header">About Us</div>
    
        <div class="content_body">
    
            <p> Facing Ahead is a product of S&K Publishers.</p>
    
            <p>S&K Publishers is run by Steve and Kathy Beirne. They have been actively involved in marriage preparation and enrichment
                for more than 30 years.</p>
    
            <p>Steve has been an educator his whole life, beginning as a high school teacher and then moving into adult education.
                Kathy received an M.A. in child and family studies from the University of Missouri. In addition to her work in
                marriage education, she has also taught child development in a local community college.</p>
    
            <p>For the last twenty five years they have written a newsletter aimed at newly married couples, helping them to adjust
                to many areas of marriage. In the course of that work, they have kept abreast of the current research regarding
                marriage and relationships.</p>
    
            <p>They have written books and many magazine articles on marriage and family, and have given talks and workshops across
                the country. They married in 1967, have seven children, four children-in-law and six grandchildren. They live
                in Portland, Maine.</p>
    
            <hr/>
            <div class="roundCard tappable text-white" >
                <a href="https://www.facebook.com/facingahead/" target="_blank">
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="../images/facebook-square.png" class="img img-responsive roundCardImage" />
                        </div>
                        <div class="col-xs-9">
                            <div class="roundCardTitle">Visit us on Facebook!</div>
                            <div class="roundCardInfo">
                                <p>Keep up to date with the latest updates or send us a message with feedback or questions.</p>
    
                                <span class="roundCardNavArrow glyphicon glyphicon glyphicon-new-window pull-right" aria-hidden="true"></span>
    
                            </div>
    
                        </div>
                    </div>
                </a>
            </div>
    
    
        </div>
        <br/>
        <div class="section_header">Feedback</div>
    
        <div class="content_body">
            We’d love to hear what you think of this app.
            <br/>
            <br/>
            <a class="btn btn-clear btn-block buttonHyperlink" href="mailto:sandkpubs@gmail.com?Subject=Feedback" target="_top">Leave Feedback or Report Issue</a>
        </div>
        <hr/>
        <button class="btn btn-clear" ui-sref="home">Home</button>
    <br/>
    </div>