<div class="mainHeader">
    <div class="text text-center text-bold">My Answers</div>
</div>
<div id="content" class="content" ui-view>
    <p>Please review your answers and return to any questions you haven't answered, or would like to update. You do not need
        to complete the entire quiz in one visit.
    </p>
    <h2>Review with Partner</h2>
    <p ng-if="!user.ableToSubmitResults" class="directions">In order to view you and your partner's results, the outstanding tasks listed below must be completed. </p>
    <button class="btn btn-clear btn-block" ng-if="user.ableToSubmitResults" ui-sref="confirmation.results">Compare results with partner</button>

    <div class="submit_area" ng-if="!user.ableToSubmitResults">
        <h4 ng-if="!user.quizResponse.allQuestionsAnswered || !user.partnerUsername">My Outstanding Tasks</h4>

        <div class="roundCard background-white text-purple" ng-if="!user.quizResponse.allQuestionsAnswered">

            <div class="row">
                <div class="col-xs-3">
                    <img src="../images/exclamation-triangle.png" class="img img-responsive roundCardImage" />
                </div>
                <div class="col-xs-9">
                    <div class="roundCardTitle">Unanswered Questions</div>
                    <div class="roundCardInfo">
                        <p>Before submitting for review with a partner, you must answer all of the questions.</p>
                        <p class="directions">Scroll down to review questions</p>
                    </div>

                </div>
            </div>
        </div>

        <br/>

        <div class="roundCard tappable background-white text-purple" ui-sref="settings" ng-if="!user.partnerUsername">

            <div class="row">
                <div class="col-xs-3">
                    <img src="../images/exclamation-triangle.png" class="img img-responsive roundCardImage" />
                </div>
                <div class="col-xs-9">
                    <div class="roundCardTitle">Enter Partner Username</div>
                    <div class="roundCardInfo">
                        You must enter a partner's username and they must have your username as well. Enter their username in your profile tab.
                    </div>
                    <div class="pull-right actionRow roundCardNavArrow">
                        Profile
                        <span class="roundCardNavArrow glyphicon glyphicon-circle-arrow-right pull-right" aria-hidden="true"></span>
                    </div>

                </div>
            </div>

        </div>
        <br/>

        <h4>My Partner's Outstanding Tasks</h4>

        <div class="roundCard background-white text-purple" ng-if="!user.partnerMutuallyAddedYou">

            <div class="row">
                <div class="col-xs-3">
                    <img src="../images/exclamation-triangle.png" class="img img-responsive roundCardImage" />
                </div>
                <div class="col-xs-9">
                    <div class="roundCardTitle">Partner Must Add You</div>

                    <p>Your partner hasn't mutually added you yet, so you can't compare results yet.</p>
                    <p>They can do this in the
                        <strong>Profile tab</strong>

                </div>
            </div>
        </div>
        <br/>

        <div class="roundCard background-white text-purple" ng-if="!user.partnerAnsweredAllQuestions">

            <div class="row">
                <div class="col-xs-3">
                    <img src="../images/exclamation-triangle.png" class="img img-responsive roundCardImage" />
                </div>
                <div class="col-xs-9">
                    <div class="roundCardTitle">Partner Unfinished Quiz</div>
                    <div class="roundCardInfo">

                        Your partner hasn't answered all questions yet.

                    </div>
                </div>
            </div>
            <br/>

        </div>
        <br/>



    </div>
    <br/>
    <br/>

    <h2>My Answers</h2>

    <div ng-repeat="categoryQuestionAnswer in quizResponse.categoryQuestionAnswerList">
        <h3>{{$index+1}}. {{categoryQuestionAnswer.category}}</h3>

        <div ng-repeat="questionAnswer in categoryQuestionAnswer.questionAnswerList">
            <div class="row" ng-click="navigateToSection(questionAnswer.question.category)">
                <div class="col-xs-7">
                    {{$index+1}}. {{questionAnswer.question.text}}
                </div>
                <div class="col-xs-5 responseColumn">
                    <!-- {{questionAnswer.answer}} -->
                    <i ui-sref="settings" ng-if="questionAnswer.answer == 'yes'" class="fa fa-thumbs-up answered" aria-hidden="true"></i>
                    <i ui-sref="settings" ng-if="questionAnswer.answer == 'no'" class="fa fa-thumbs-down answered responseColumn" aria-hidden="true"></i>
                    <i ui-sref="settings" ng-if="questionAnswer.answer == 'maybe'" class="fa fa-question-circle answered" aria-hidden="true"></i>
                    <span ng-if="questionAnswer.answer == '' || questionAnswer.answer == null">
                        <span class="unAnswered">No answer</span>
                    </span>

                    <span class="roundCardNavArrow glyphicon glyphicon-circle-arrow-right pull-right" aria-hidden="true"></span>

                </div>
            </div>
            <hr/>

        </div>
        <br/>

    </div>


</div>