<div id="content">


    <div class="count">3 / 13</div>

    <div class="section_header">Finances</div>



    <div class="answer_area">



        <div ng-repeat="questionAnswer in finances.questionAnswers">
            {{$index+1}}. {{questionAnswer.question.text}}
            <br/>

            <div class="spinner" ng-if="savingContent">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="gooey">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                            <feBlend in="SourceGraphic" in2="goo"></feBlend>
                        </filter>
                    </defs>
                </svg>
                <div class="blob blob-0"></div>
                <div class="blob blob-1"></div>
                <div class="blob blob-2"></div>
                <div class="blob blob-3"></div>
                <div class="blob blob-4"></div>
                <div class="blob blob-5"></div>
            </div>

            <div class="btn-group" ng-model="finances.answers[questionAnswer.question.id].radio" bs-radio-group>
                <label class="btn btn-primary">
                    <input type="radio" class="btn btn-default" value="yes" ng-change="saveAnswers('finances')">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>

                    Yes</label>
                <label class="btn btn-primary">
                    <input type="radio" class="btn btn-default" value="no" ng-change="saveAnswers('finances')">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    No</label>
                <label class="btn btn-primary">
                    <input type="radio" class="btn btn-default" value="maybe" ng-change="saveAnswers('finances')">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    Not Sure</label>
            </div>
             <!-- why is this important -->
             <br/>
             <br/>
 
             <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                 <div class="panel panel-default">
                     <div class="panel-heading" role="tab">
                         <div class="panel-title text-italic">
                             <a bs-collapse-toggle>
                                 Why is this important?
                             </a>
                         </div>
                     </div>
                     <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                         <br/>
                         <div class="panel-body">
                             {{questionAnswer.question.why}}
                         </div>
                     </div>
                 </div>
             </div>
             <hr/>
             <br/>
             <!-- END OF: why is this important -->

        </div>
    </div>

    <div ng-include src="'partials/prev_next_buttons.html'"></div>

    <!--
    <div class="learnMorePanel">
    <div id="why_link" class="why_link_text">Why do we ask about Budget/Finances?


    </div>
    ****************** END PREV & NEXT BUTTONS ******************
    <p class="why_title">Budget/Finances</p>

    <p class="why_body">Finances are often the last talked about topic within a serious relationship. It can even be a topic with a lot of emotional tension that one or both parties bring into the relationship for various reasons. One may be a saver while the other is a spender. They might have accumulated some financial assets before they are married or they may have accumulated debt they are bringing into the marriage. All this needs to get addressed. This section helps the couple speak openly and honestly about their finances. Budgets can be very formal or informal. Regardless of how they choose to deal with their finances they need to be responsible.</p>
</div>
-->

</div>