<div id="home_content">
    <div class="home_nav_items">

        <button class="btn btn-success" ng-show="!authenticated" ui-sref="login">Login</button>
        <br/>
        <div ng-show="authenticated">
            <h1>Hello, {{userInfo.username}}</h1>
            <button class="btn btn-warning" ng-click="logout()">Logout</button>
        </div>
        <br/>
        <button class="btn btn-primary" ui-sref="createAccount">Create Account</button>
        <hr/>
        <br/>
        <button class="btn btn-primary" ui-sref="howItWorks">
            How it Works
        </button>
        <br/>
        <button class="btn btn-primary" ui-sref="topics">
            Quiz Topics/Sections
        </button>
        <br/>

        <button ng-if="authenticated" class="btn btn-info" ui-sref="quiz.families">
            Take the Quiz
        </button>

        <br/>
        <button ng-if="authenticated" class="btn btn-info" ui-sref="results">
            See Your Results
        </button>
    </div>
</div>