<div id="home_content">
    <div class="home_nav_items">

        <button class="btn btn-success" ng-show="!authenticated" ui-sref="login">Login</button>
        <br/>
        <div ng-show="authenticated">
            <h1>Hello, {{userInfo.username}}</h1>
            <button class="btn btn-warning" ng-click="logout()">Logout</button>
        </div>

        <button ng-if="!authenticated" class="btn btn-primary" ui-sref="createAccount">Create Account</button>
        <hr/>
        <button ng-if="authenticated" class="btn btn-info" ui-sref="quiz.families">
            Take the Quiz
        </button>

        <div ng-if="authenticated">
            <button class="btn btn-primary" ui-sref="confirmation">Confirm your answers</button>
            <br/>
<!--
            <button ng-if="authenticated && user.ableToSubmitResults" class="btn btn-info" ui-sref="results">
    Compare results with partner
</button>
-->
        </div>

    </div>
</div>