<div id="content">


    <!-- ****************** DIRECTIONS ****************** -->

    <div class="directions_body"><strong>Directions:</strong> Indicate your agreement with the statement below by tapping the <strong><em>Yes</em></strong>, <strong><em>No</em></strong>, or <strong><em>Not
            Sure</em></strong> button.
    </div>

    <!-- ****************** END DIRECTIONS ****************** -->


    <!-- ****************** SECTION HEADER ****************** -->

    <div class="section_header">11. Parenting</div>

    <div class="answer_area">


        <div id="why_link" class="why_link_text">Why do we ask about Parenting?
            <button class="btn btn-primary" ng-click="togglePanel()">{{!showLearnMorePanel ? "Tap here to learn more" : "Hide"}}
            </button>


        </div>

        <!-- ****************** END WHY LINK *********************** -->


        <div class="learnMorePanel" ng-show="showLearnMorePanel">

            <!-- ****************** END PREV & NEXT BUTTONS ****************** -->
            <p class="why_title">Parenting</p>
            <p class="why_body">Deciding to have children is the largest decision a couple can make, and when it happens, can lead to the largest adjustment within a marriage. In some sense it makes the marital adjustment pale in comparison. The adjustment to time, money, household tasks, and to the couple's time together shifts in dramatic ways. This section has the couple discussing the realities of their own relationship and what it entails or will entail. When to have children is often a major decision they must make. If the couple runs into any issues during this process, another entire set of decisions and adjustments must be made. Their own family of origin can often factor into these decisions.</p>

        </div>
    </div>
    <div ng-repeat="questionAnswer in parenting.questionAnswers">
        {{questionAnswer.question.text}}
        <br/> {{questionAnswer.id}}

        <div class="btn-group" ng-model="parenting.answers[questionAnswer.question.id].radio" bs-radio-group>
            <label class="btn btn-primary">
                <input type="radio" class="btn btn-default" value="yes">Yes</label>
            <label class="btn btn-primary">
                <input type="radio" class="btn btn-default" value="no">No</label>
            <label class="btn btn-primary">
                <input type="radio" class="btn btn-default" value="maybe"> Maybe</label>
        </div>

        <!--            <pre>{{values.answers | json }}</pre>-->

    </div>
</div>