<div id="content" class="content">
    <div class="section_header">Profile & Partner Info</div>

    <div ng-if="authenticated">
        <h1>Profile</h1>
        <label>Name</label>
        <p>{{user.name}}</p>

        <label>Username:</label>
        <p>{{user.username}}</p>

        <label>Partner:</label>
        <div ng-if="!user.partnerUsername">
            <input type="text" class="form-control" placeholder="Add Partner's Username" ng-model="partner.username" />
            <br/>
            <button class="btn btn-clear" ng-click="updatePartnerUsername()">Save Partner Info</button>

        </div>
        <div ng-if="user.partnerUsername">
            <p>{{user.partnerUsername}}</p>
            <hr/>
            <input type="text" class="form-control" placeholder="Update Partner's Username" ng-model="partner.username" />
            <br/>
            <button class="btn btn-clear" ng-click="updatePartnerUsername()">Update Partner Info</button>

        </div>
        <hr/>


        <div class="alert alert-warning" ng-if="!userFound">That user was not found and was not added as your partner</div>

        <button ng-if="!authenticated" class="btn btn-clear" ui-sref="createAccount">Create Account</button>

        <button class="btn btn-clear" ng-click="logout()">
            Logout
        </button>


    </div>

    <div ng-if="!authenticated">
        <p>You are not signed in yet.</p>

        <button class="btn btn-clear" ui-sref="login">Login</button>
    </div>


</div>