<div id="content">


    <div class="count">4 / 13</div>

    <div class="section_header">Values</div>

    <div class="answer_area">


        <div ng-repeat="questionAnswer in values.questionAnswers">
            {{$index+1}}. {{questionAnswer.question.text}}
            <br/>

            <div class="spinner" ng-if="savingContent">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="gooey">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                            <feBlend in="SourceGraphic" in2="goo"></feBlend>
                        </filter>
                    </defs>
                </svg>
                <div class="blob blob-0"></div>
                <div class="blob blob-1"></div>
                <div class="blob blob-2"></div>
                <div class="blob blob-3"></div>
                <div class="blob blob-4"></div>
                <div class="blob blob-5"></div>
            </div>

            <div class="btn-group" ng-model="values.answers[questionAnswer.question.id].radio" bs-radio-group>
                <label class="btn btn-primary">
                    <input type="radio" class="btn btn-default" value="yes" ng-change="saveAnswers('values')">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>

                    Yes</label>
                <label class="btn btn-primary">
                    <input type="radio" class="btn btn-default" value="no" ng-change="saveAnswers('values')">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                    No</label>
                <label class="btn btn-primary">
                    <input type="radio" class="btn btn-default" value="maybe" ng-change="saveAnswers('values')">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    Not Sure</label>
            </div>
            <!-- why is this important -->
            <br/>
            <br/>

            <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <div class="panel-title text-italic">
                            <a bs-collapse-toggle>
                                Why is this important?
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <br/>
                        <div class="panel-body">
                            {{questionAnswer.question.why}}
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <br/>
            <!-- END OF: why is this important -->
        </div>

        <div ng-include src="'partials/prev_next_buttons.html'"></div>

        <!--
       <div class="learnMorePanel">

    <div id="why_link" class="why_link_text">Why do we ask about Values?

    </div>
    <p class="why_title">Values</p>
    <p class="why_body">Making their relationship primary is a value that will be essential for a healthy and strong marriage. Hopefully the couple holds many similar values. Even where they have some dissimilar values, there will need to be some deepening appreciation for how the other party holds a particular value. The ideal is that they attempt to make such values into "our value" — meaning, the one who may value doing some charity or outreach, would be joined by their partner in such an endeavor. At the least, the other partner would support him or her, even if they do not see it as such a high value. In return the partner who is now getting support can express true appreciation for their partner's efforts.</p>

</div>
-->
    </div>

</div>