<div id="content" class="content">
    <button class="btn btn-clear" ui-sref="confirmation.results">Back</button>
    <h1>What's Next?</h1>
    <hr/>
    <p>Now that you’ve taken the quiz, how should you approach the results? The most productive thing you can do is have a conversation
        about them. “Can you tell me why you answered X that way?” or “I was surprised that you thought X.” Keep your conversation
        away from blaming or dismissing your SO’s opinions or beliefs. That’s the way they see things, and that was why you
        took the quiz in the first place – to find out what they think and how they feel about these topics.</p>
    <br/>

    <h3>If you had a large percentage of differences...</h3>
    <p>you may want to consider how important those differences are. If you think his friends don’t like you, he may be able
        to reassure you that they do. If you differ on whether you think each other is honest about debts and assets, that
        may be a more difficult and a more important conversation.
    </p>
    <p>Discussing the responses to the statements in the quiz and reading the little explanation about why it matters to discuss
        each item may make it easier to talk about some things you had been avoiding as well as the things it never occurred
        to you to talk about. It’s almost like having a third person to discuss these things with; a virtual counselor you
        could say.

    </p>
    <p>Significant differences may be telling you that your next step should be a parting of the ways. </p>

    <br/>
    <h3>If you had a few differences...</h3>
    <p>Then your conversation will go one of two ways. The first is deciding that the two of you can plan a life together. Whether
        that includes marriage is a choice both of you would need to make. </p>
    <br/>

    <h3>
        Few but crucial…
    </h3>
    <p>The second is that those few differences might be crucial ones. If one of you would like to have children and the other
        would not, then it’s probably time to split up. Having children is a very basic desire, and it is not something that
        is likely to go away. A partner can be persuasive and provide reasons to not have children, but chances are that
        desire will return. On the other hand, trying to persuade someone who does not want children to have them anyway
        can also be problematic. You may see the relationship as a good one, but with different desires on such an important
        life choice, the quality of your relationship is likely to go downhill. </p>
    <p>And then there are things that are a matter of safety: if one of you thinks hitting is not a problem, it’s definitely
        time to part. Hitting is not part of a healthy relationship in this culture. People from your ethnic background may
        have thought it was permissible to hit their spouse when they were in their country of origin, but here that is considered
        a crime. Do not think the person will change – without significant therapy they are not likely to change their behavior.</p>
    <p>In most cases, only you can know how much weight some of these things have. If your dad was an alcoholic then it may
        be a problem to be in a relationship with someone who drinks heavily. If your family lived with debt, that might
        want you to avoid someone who is carrying a lot of debt. If you are very active politically, having someone that
        doesn’t vote or care about keeping up with what’s going on in public could be a challenge. You get to choose how
        serious a challenge any of these items are for your relationship.</p>
    <br/>

    <h3>Still confused?</h3>
    <p>If you still don’t know what to do about your relationship, you may want to consult a counselor, someone with experience
        helping couples untie the knots on their relationship. Bring your Facing Ahead results with you. They will probably
        be impressed that you were willing to take the time to work on your relationship in this way. You both deserve to
        be able to go forward in a way that gives you a chance for long term happiness. A counselor will help too if your
        decision is to split up, and you want assistance figuring out what your next steps will be. </p>
    <br/>

    <h3>Finding a Counselor</h3>
    <p>Ask you PCP for a referral. Ask a friend if they know someone they would trust. A local school of social work may provide
        names of local providers. Websites, such as
        <a href="http://goodtherapy.org" target="_blank">www.goodtherapy.org</a>, may be helpful. Just find a way to remove the roadblocks between you – each of you - going
        forward in a healthy, productive way.</p>
</div>