<br/>
<br/>

<div class="alert alert-danger alert-dismissible" role="alert" id="questionDeleteAlert" ng-show="deleted">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Question deleted!</strong>
</div>
<div id="content" class="content">

    <div class="spinnerReal" ng-if="savingContent">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="gooey">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                    <feBlend in="SourceGraphic" in2="goo"></feBlend>
                </filter>
            </defs>
        </svg>
        <div class="blob blob-0"></div>
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
        <div class="blob blob-4"></div>
        <div class="blob blob-5"></div>
    </div>

    <h1>Admin</h1>
    <h2>Questions</h2>
    <hr/>
    <!-- <pre>{{categories | json}}</pre> -->



    <div ng-repeat="category in categories" id="questionsList">
        <h2>{{$index+1}} - {{category.category}}</h2>
        <hr/>

        <div ng-repeat="question in category.questionsList">
            <h4>{{$index+1}}</h4>
            <textarea class="form-control" ng-model="question.text" ng-change="changedQuestion(question)"></textarea>
            <!-- {{question[$index].text}} -->
            <br/>
            <!-- <button class="btn btn-clear" ng-click="updateQuestion(question.id, question.text)">Update question text</button> -->
            <br/>
            <textarea class="form-control" rows="4" ng-model="question.why"></textarea>
            <br/>
            <button class="btn btn-clear" ng-click="updateQuestion(question)">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>

                Update Question</button>
            <button class="btn btn-clear pull-right" ng-click="deleteQuestion(question)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

                Delete</button>
            <hr/>
        </div>
    </div>




</div>